# Python
__pycache__/
*.pyc
*.pyo

# Virtualenv
venv/
.venv/

# Segredos e ambiente
.env
.env.local
melhorenvio_token.json

# Django
db.sqlite3
*.sqlite3
*.log

# VS Code / IDE
.vscode/
.idea/

# Sistema
.DS_Store
Thumbs.db
desktop.ini

# Backups locais
data_sqlite_backup.json
*.bak
