<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Patch Works e Afins</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'core/css/style.css' %}">
    {% block extra_css %}{% endblock %}
</head>

<body>

<header>
    <div class="logo-container">
        <span class="logo-text">Patch Works e Afins</span>
    </div>

    <nav>
        <a href="/">Início</a>
        <a href="/produtos/">Produtos</a>
        <a href="/avaliacoes/">Avaliações</a>
        <a href="/contato/">Contato</a>
    </nav>
</header>

<div class="hero">
    <div class="hero-content">
        <div class="hero-logo">
            <img src="{% static 'core/logo.png' %}" alt="Logo">
        </div>

        <div class="hero-text">
            <h1>Artesanato que transforma</h1>
            <p>Produtos únicos feitos com carinho</p>
            <a href="/produtos" class="btn">Ver Catálogo →</a>
        </div>
    </div>
</div>

{% block full_width %}
{% endblock %}

<div class="container">
    {% block content %}
    {% endblock %}
</div>

</body>
</html>