{% extends 'core/base.html' %}

{% block content %}

<h2>Bem-vindo à nossa lojinha!</h2>

<p>
Senhores (as) clientes, bem-vindos à nossa lojinha! Nosso intuito é levar lembranças dos melhores momentos que vivemos.
</p>

<p>
Para ficar por dentro de todas as novidades, não deixe de curtir nossa página no Facebook.
</p>

<p>
Nossos prazos de entrega variam de acordo com a nossa demanda.
</p>

<p>
Porque prazos longos? Não trabalhamos com estoque. Produzimos sob medida conforme os pedidos.
</p>

<p>
Respondemos nossas mensagens em até <strong>48 horas úteis</strong>.
</p>

<p>
Tem urgência no seu pedido? Entre em contato conosco e avaliaremos o seu caso.
</p>

<p>
O cálculo do frete pode ser feito diretamente na simulação de compra do produto.
</p>

<p>
<strong>Entre, Curta, Compre e Compartilhe essa ideia!</strong><br>
Boas Festas 🎄
</p>

{% endblock %}